.navbar {
    margin-bottom: 0px;
    border-radius: 0;
    background-color: rgba(255, 241, 148, 0.44);
    color: #0b09ff;
    padding: 1%  0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 15px;

}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus,.navbar-inverse .navbar-nav .active a:hover{
    color: #FFF;
    background-color: #8b222a;
}
.navbar-inverse .navbar-nav li a {
    color: #8b222a;
}
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.btn {
    font-size: 18px;
    color: #FFF;
    padding: 12px 22px;
    background-color: rgba(67, 75, 62, 0.18);
    border: 2px solid #FFF;
}
.container {
    margin: 4% auto;
}
#icon {

    max-width: 100%;
    max-height: 200px;
    margin: 1% auto;
}

#modaalpic{
    float: right;
    max-width: 50%;
    max-height: auto;
}

footer{
    width: 100%;
    background-color: #fff194;
    padding: 5%;
    color: #FFFFFF;
}
.fa {
    padding: 15px;
    font-size: 30px;
    color: #FFFFFF;
}
.fa:hover {
    color: #d51d2c;
    text-decoration: none;
}

#logoFooter {
    max-width: 50%;
}
@media (max-width: 900px) {
    .fa{
        font-size: 20px;
        padding: 10px;
    }
}





@media (max-width: 900px) {
    .carousel-caption{
        display: none;
    }
    #icon {
        max-width: 80%;
    }
    h2 {
        font-size: 1.7em;
    }
    #logoFooter {
        max-width: 80%;
    }
}
/*-----------------------------------
	General Styles
-----------------------------------*/

/*body{*/
    /*font-size : 14px;*/
    /*background-color: #f2f6f9;*/
/*}*/

ul{
    list-style-type: none;
}

a:hover {
    text-decoration:none;
}






/*-----------------------------------
	Breadcrumb
-----------------------------------*/

.breadcrumb > .active a{
    color: #8b222a;
    font-weight: bold;
    text-transform: uppercase;
}

.breadcrumb li a{
    color : rgba(158, 24, 42, 0.69);
    font-weight: bold;
    text-transform: uppercase;
}

.breadcrumb>li+li:before {
    content: "\00BB";
}

.breadcrumb{
    margin-bottom: 100px;
    background-color: #fff194;
}

.breadcrumbBox{
    background-color: #fff194;
    height: 100px;
    margin-bottom: 100px;
    padding-top: 32px;
}

/*-----------------------------------
	Main
-----------------------------------*/

.container.text-center{
    padding: 0 32px;
}

/*-----------------------------------
	Logo and description
----------------------------------- */


.col-md-5.col-sm-12{
    padding: 0;
}

.col-md-5.col-sm-12 h1{
    color: #595c5f;
    font-size: 24px;
    font-weight: bold;
    margin-bottom:30px;
    text-align: left;
}

.col-md-5.col-sm-12 p{
    color: #898e92;
    line-height: 1.5;
    max-width: 400px;
    text-align: justify;
}


/*-----------------------------------
	Cart items list
-----------------------------------*/

.col-md-7.col-sm-12{
    padding-left: 50px ;
    margin-bottom: 72px;
}

.row{
    box-shadow: 0 1px 0 #e1e5e8;
    padding-bottom :0;
    padding-left: 15px;
    background-color: #ffffff;
    margin-bottom: 11px;
}

.row span{
    padding: 20px 0 6px 0;
}

/* Column Captions */

.columnCaptions{
    color: #7e93a7;
    font-size:12px;
    text-transform: uppercase;
    padding: 0;
    box-shadow: 0 0 0;
    background-color: #f2f6f9;
}

.columnCaptions span:first-child{
    padding-left:8px;
}

.columnCaptions span{
    padding: 0 21px 0 0;
}

.columnCaptions span:last-child{
    float: right;
    padding-right: 72px;
}


/* Items */

.product{
    color: #727578;
    font-size :16px;
    font-weight: bold;
    float: left;
    padding-left:25px;
}


.aantal{
    color: #8b222a;
    font-size :18px;
    font-weight: bold;
    float : left;
    width: 42px;
    padding-left: 7px;
}




.prijs{
    color: #e23648;
    font-size :18px;
    font-weight: bold;
    float: right;
}


/* Totals */

.totals{
    background-color: #f2f6f9;
}

.totals span{
    padding: 40px 15px 40px 0;
}

.totals .prijs{
    float: left;
}

.totals .product{
    margin-top: 1px;
}

.totals .order{
    float: right;
    padding: 0;
    margin-top: 40px;
    padding-left: 5px;
    cursor: pointer;
}

.order a{
    background-color: #8b222a;
    color: #fbfffa;
    font-weight: bold;
    border-radius: 2px;
    padding: 20px 30px;
}


/* Popovers */

.popover{
    border-radius: 3px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border: 0;
    background-color: #ffffff;
}

.popover.bottom{
    margin-top: -9px;
}

.glyphicon{
    width: 24px;
    font-size: 24px;
    padding: 0;
}

.glyphicon-pencil{
    color: #858e97;
    margin: 7px 12px 7px 10px;
}

.glyphicon-remove{
    color: #f06953;
    margin-right: 10px;
}

/*-----------------------------------
	Media Queries
----------------------------------- */

/* Tablet size */

@media (max-width: 992px) {

    .container.text-center{
        padding: 0 15px;
    }

    .breadcrumb{
        margin-bottom: 32px;
    }

    .bigcart{
        margin: 0 auto 40px auto;
    }

    .col-md-5.col-sm-12 h1{
        text-align: center;
    }

    .col-md-5.col-sm-12 p{
        margin: 0 auto 64px auto;
        text-align: justify;
    }

    .col-md-7.col-sm-12{
        padding-left: 10px ;
        padding-right: 50px;
    }

    .totals{
        box-shadow: 0 0 0;
    }

}


/* Mobile device size */

@media (max-width: 768px) {

    .navbar{
        padding:10px 0;
    }

    .minicart{
        margin-right: -1px;
        padding-right: 0;
    }

    .navbar-brand{
        padding-left: 0;
    }

    .breadcrumbBox{
        height:80px;
        padding-top:21px;
    }

    .col-md-5.col-sm-12 p{
        max-width: 300px;
    }

    .col-md-7.col-sm-12{
        padding-left: 0;
        padding-right: 15px;
        margin-bottom: 32px;
    }

    .col-md-7.col-sm-12 ul{
        padding-left: 15px ;
    }

    .columnCaptions span{
        padding: 0 21px 0 0;
    }

    .columnCaptions span:last-child{
        float: right;
        padding-right: 42px;
    }

    .row{
        padding-bottom:10px;
    }

    .aantal{
        width: 23px;
        padding-right: 40px !important;
    }

    .popbtn{
        background-color: white;
        position: absolute;
        height:40px;
        right: 0;
    }

    .prijs{
        position: absolute;
        right: 41px;

    }

    .totals{
        padding: 0;
    }

    .totals .prijs{
        position: static;
    }

}
